// _colors.scss
$primary-color: #ec7263;
$secondary-color: #2ecc71;
$danger-color: red;
$warning-color: #e88d67;
$info-color: #8e44ad;
$success-alert: #4caf50;
$light-color: #fff;
$dark-color: #000;
