.dropdown {
    position: absolute !important;
    overflow: hidden;
    left: 70%;
    top: 65px;
    max-width: 400px;
    height: auto;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 3;
    background-color: #fff;
    .dropdown-contentLogin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .dropdown-title {
            width: 80%;
            height: 23%;
            text-align: center;
            border-bottom: 1px solid #999;
            .Login--title {
                width: 100%;
                height: 25px;
                font-size: 20px;
                font-weight: 500;
                color: #ec7263;
            }
            .LoginDetail--title {
                width: 100%;
                height: 25px;
                font-size: 14px;
                padding-bottom: 10px;
            }
        }
        .formdata {
            margin-top: 5px;
            text-align: center;
            width: 90%;
            height: 52%;
            .login--btn {
                width: 100%;
                height: 40px;
                background-color: #ec7263;
                text-align: center;
                line-height: 40px;
                font-weight: 500;
                border: none;
                border-radius: 4px;
                color: #fff;
            }
            #email,
            #ps {
                width: 100%;
                height: 40px;
                padding-left: 15px;
                border: 1px solid #d4d6d8;
            }
        }
    }
    .Login--opt {
        width: 80%;
        height: 80px;
        padding: 0 35px;
        font-size: 14px;
        a {
            text-decoration: none;
            color: #ec7263;
        }
    }
}

.dropdownSearch {
    position: absolute !important;
    overflow: hidden;
    width: 35%;
    height: 500px;
    right: 150px;
    top: 65px;
    border-radius: 4px;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 3;
    background-color: #fff;
    .dropdown-contentSearch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .formdataSearch {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            .searchInput {
                width: 380px;
                height: 42px;
                margin-top: 25px;
                padding-left: 20px;
            }
            #searchBtn {
                position: absolute;
                right: 40px;
                margin-top: 15px;
                cursor: pointer;
                border: none;
                background-color: transparent;
            }
            .dropdown-titleSearch {
                width: 100%;
                text-align: center;
                border-bottom: 1px solid #9999;
                margin-top: 15px;
                .searchTitle {
                    font-size: 18px;
                }
            }
            .login--btn {
                width: 270px;
                height: 42px;
                background-color: #ec7263;
                text-align: center;
                line-height: 42px;
                font-weight: 500;
                border: none;
                border-radius: 4px;
                color: #fff;
            }
        }
    }
}

.dropdownSearchLogged {
    position: absolute !important;
    overflow: hidden;
    width: 400px;
    height: 150px;
    right: 150px;
    top: 65px;
    border-radius: 4px;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 3;
    background-color: #fff;
    .dropdown-contentSearch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .formdataSearch {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            .searchInput {
                width: 380px;
                height: 42px;
                margin-top: 25px;
                padding-left: 20px;
            }
            #searchBtn {
                position: absolute;
                right: 40px;
                margin-top: 15px;
                cursor: pointer;
                border: none;
                background-color: transparent;
            }
            .dropdown-titleSearch {
                width: 100%;
                text-align: center;
                border-bottom: 1px solid #9999;
                margin-top: 15px;
                .searchTitle {
                    font-size: 18px;
                }
            }
            .login--btn {
                width: 270px;
                height: 42px;
                background-color: #ec7263;
                text-align: center;
                line-height: 42px;
                font-weight: 500;
                border: none;
                border-radius: 4px;
                color: #fff;
            }
        }
    }
}

.dropdownCart {
    position: absolute !important;
    overflow: hidden;
    width: 410px;
    height: 200px;
    right: 65px;
    top: 65px;
    border-radius: 4px;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 3;
    background-color: #fff;
    .dropdown-contentCart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .dropdown-title {
            width: 90%;
            height: 80%;
            text-align: center;
            .Login--title {
                width: 100%;
                font-size: 22px;
                font-weight: 500;
                color: #ec7263;
                border-bottom: 1px solid #999;
            }
            .LoginDetail--title {
                width: 100%;
                font-size: 14px;
                font-weight: 200;
            }
        }
        .Login--opt {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 80%;
            height: 250px;
            margin-top: -15px;
            font-size: 14px;
            a {
                text-decoration: none;
                color: #ec7263;
            }
            #reset-ps {
                margin-top: -50px;
            }
        }
    }
}

.dropdownCartLogged {
    position: absolute !important;
    overflow: hidden;
    width: 410px;
    height: 450px;
    right: 100px;
    top: 65px;
    border-radius: 4px;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
    z-index: 3;
    background-color: #fff;
    .dropdown-contentCartLogged {
        width: 100%;
        height: 100%;
        #miniCartInfo {
            width: 100%;
        }
        #miniCartImg {
            width: 90px;
            padding-right: 15px;
            max-width: none;
            text-align: center;
            img {
                max-width: 100%;
            }
        }
        #miniCart {
            position: relative;
            #miniCartTitle {
                display: block;
                line-height: normal;
                font-size: 12px;
                font-weight: 600;
                padding-right: 28px;
                height: 40px;
                text-transform: uppercase;
                color: #1c1c1c;
            }
        }
    }
}
.dropdownSub {
    position: absolute;
    background-color: #fff;
    width: 800px;
    height: 388px;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 0 15px;
    top: 0;
    overflow-y: auto;
    display: flex;
    z-index: 10;
    .wrapperCategory {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .catalogWrapper {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .catalogItem {
                flex: 1 1 25%;
                max-width: 25%;
                padding: 0 10px;
                .catalogTitle {
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                .children {
                    display: flex;
                    flex-wrap: wrap;
                }
                .child {
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.searchresultmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Màu nền với độ mờ 50%
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; // Đảm bảo modal hiển thị trên cùng
}

.searchresultcontent {
    background-color: #fff;
    padding: 0 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.searchResults li {
    padding: 10px 0;
    border-bottom: 1px solid #eee; // Đường viền phân cách các mục
}

.searchResults li:last-child {
    border-bottom: none; // Loại bỏ đường viền ở mục cuối cùng
}
