.catalog {
    width: 20%;
    height: 100%;
    border: solid 1px #333333;
    background-color: #fff;
    text-transform: uppercase;

    .catalog_title {
        width: 100%;
        height: 30px;
        text-align: center;
        border-bottom: solid 1px #333333;
        background-color: #ec7263;
        padding-top: 2px;

        span {
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            line-height: 15px;
        }
    }

    .catalog_item {
        display: flex;
        text-transform: uppercase;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        height: 90%;
        font-weight: 600;
        .active {
            text-transform: uppercase;
            height: 30px;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                color: #ec7263;
            }
        }
    }
}

.overlayouthome {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    height: 420px;
    width: 1223px;
    justify-content: space-between;
    .catalog {
        width: 20%;
        height: 100%;
        border: solid 1px #333333;
        .catalog_title {
            width: 100%;
            height: 30px;
            text-transform: uppercase;
            text-align: center;
            border-bottom: solid 1px #333333;
            background-color: #ec7263;
            padding-top: 2px;
            span {
                color: #fff;
                font-weight: bold;
                font-size: 14px;
                line-height: 15px;
            }
        }
        .catalog_item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            list-style: none;
            margin: 5px 15px;
            .active {
                height: 40px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .banner-section {
        width: 80%;
        overflow: hidden;

        .slider-section {
            position: relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            .home-img {
                width: 75%;
                height: 100%;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
                    0 2px 2px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.05),
                    0 8px 8px rgba(0, 0, 0, 0.05);
                overflow: hidden;
                .slider-img {
                    width: 100%;
                    height: 420px;
                    display: block;
                }
            }
            .sub-img {
                width: 25%;
                height: 100%;
                background-color: #333333;
                .subslider-img {
                    width: 100%;
                    height: 50%;
                }
            }
        }
    }
}

#content {
    max-width: 100%;
    min-height: 100%;
}

.post-item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #000;
    transition: 0.5s;
    border: solid 1px #3333;
    .over-btn {
        width: 100%;
        height: 28px;
    }
    .indetail {
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
    }
}

.post-item:first-child {
    grid-area: h1;
    overflow: hidden;
}

.post-item:hover {
    .detail-btn {
        opacity: 1;
        bottom: 10px;
    }
}

.overlayout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .overlayout-img {
        width: 100%;
        max-height: 100%;
        background-position: center;
        object-fit: cover;
        overflow: hidden;
        background-size: cover;
        a {
            display: flex;
            justify-content: center;
            img {
                width: 100%;
                height: 200px !important;
                transition: 0.5s;
                transform: scale(1);
            }
        }
        :hover {
            transform: scale(1.1);
        }
    }
}

#largest-img,
#largest-img--sp {
    height: 100%;
    width: 100%;
}

#largest-img--bg {
    height: 325px;
    width: 100%;
}

.content_img {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    width: 100%;
    height: 232px;
    margin: auto;
    object-fit: cover;
    height: 25 0px;
    flex-shrink: 0;
}
.post-content {
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    text-align: center;
    padding: 0 10px;

    a {
        text-decoration: none;
        color: #000;
        font-weight: 600;
        font-size: 12px;
        z-index: 10;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    a:hover {
        font-weight: 600;
        text-decoration: none;
        color: #ec7263;
    }
    .price {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: red !important;
        font-weight: bold;
        font-size: 16px;
        margin: 0;

        #old-price {
            color: #333333;
            font-weight: 400;
            font-size: 15px;
            padding-left: 10px;
            margin-bottom: 0;
            text-decoration: line-through #333333;
        }
    }
    .underframe {
        display: flex;
        justify-content: space-between;
        .star-rating {
            color: #dc2f2f;
        }
    }
}

.title {
    text-align: center;
    padding-top: 20px;
    /* margin-left: 50px; */
    color: #ec7263 !important;
    font-size: 10px;
}
.title h2 {
    padding-bottom: 8px;
}

.post-grid {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    top: 0;
    grid-template-columns: 476px 225px 225px 225px;
    grid-template-rows: 1fr auto;
    grid-gap: 25px;
    grid-template-areas:
        "h1 h2 h3 h4"
        "h1 h5 h6 h7";
    padding: 35px;
}

.post-grid--sc {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    top: 0;
    // background-color: #ec7263;
    // max-height: 174px;
    // max-width: 253px;
    grid-template-columns: 800px 400px;
    grid-template-rows: 400px 191px;
    grid-column-gap: 25px;
    grid-template-areas:
        "h2 h1"
        "h2 h1";
    padding: 35px;
}

.post-grid--sc2 {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    top: 0;
    grid-template-columns: 400px 800px;
    grid-template-rows: 400px 191px;

    grid-column-gap: 30px;
    grid-template-areas:
        "h1 h2"
        "h1 h2";
    padding: 25px;
}

#discount-percent {
    display: flex;
    justify-content: flex-start;
    z-index: 2;
    max-height: 25px;
    position: absolute;
    width: 100%;
    // max-width: 50px;
    margin: 0;
    #discount-percent--content {
        background-color: #dc2f2f;
        height: 100%;
        width: auto;
        margin-right: 30px;
        padding: 3px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 5px;
        color: #fff;
    }
}

.over-btn {
    position: absolute;
    max-width: 200px;
    max-height: 28px;
}

.detail-btn {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    background-color: #ff894c;
    border-radius: 5px;
    height: 100%;
    position: relative;
    bottom: -55px;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.detail-btn button {
    border: none;
    background-color: transparent;
    margin: 0px 3px;
    color: #fff;
    margin-top: 1px;
    text-transform: uppercase;
    font-weight: 500;
    // font-size: 8px;
}

#cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    cursor: pointer;
    // background-color: #FFF;
    i {
        color: #ffffff;
        // color: #ff894c;
        font-size: 14px;
    }
}

.indetail {
    height: 80%;
    width: 90%;
    background-color: #ffffff !important;
    border-radius: 5px;
    color: #ff894c;
    cursor: pointer;
    margin: 3px 3px !important;
    font-size: 14px;
    transition: 0.5s;
}

.indetail:hover {
    background-color: #ff894c !important;
    transition: 0.5s;
    color: #ffffff;
}
