.checkout-container {
    display: flex;
    justify-content: space-between;
    margin: 80px 130px;

    .user-details {
        width: 60%;
        .userInfo {
            display: flex;
            flex-direction: column;
            display: flex;
            .userTag {
            }
            .formOrder {
                width: 100%;
                .location--picker {
                    padding-top: 20px;
                    display: flex;
                    justify-content: space-around;
                    #city {
                        width: 170px;
                    }
                }

                input {
                    width: 500px;
                    height: 40px;
                }
            }
        }
    }
    .order-details {
        width: 40%;
        background-color: #fafafa;
        border-left: 1px solid #999;
        .productList {
            display: flex;
            li {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

$primary: #153448;
$secondary: #3c5b6f;
$white: #000;
$gray: #9b9b9b;
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $secondary;
    outline: 0;
    font-size: 16px;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 20px;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $secondary;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }
    padding-bottom: 6px;
    font-size: 18px;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}
.form__field {
    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.custom-select {
    position: relative;
    font-family: Arial;
}

select {
    /* styling */
    background-color: white;
    border: thin solid $primary;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, green 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
