@import 'color';

#content {
    height: auto;
    position: relative;
    display: block;
}

#box {
    width: 700px;
    margin: 10vh auto;
    padding: 50px 10px 50px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgb(0, 0, 0/ 0.3);
    border-radius: 2px;
}
th,
td,
h1 {
    color: $primary-color;
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
}

#box h1 {
    position: relative;
    margin-bottom: 40px;
}

#gender {
    width: 15px !important;
    height: 15px !important;
}

tbody {
    width: 100px;
}
#confirm {
    padding-top: 20px;
}
#box input {
    height: 45px;
    width: 270px;
    margin: 5px 10px;
    padding: 0 20px;
    border: 2px solid #939393;
}
#box button {
    background-color: $primary-color;
    font-size: 12px;
    height: 32px;
    width: 70px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}
