.dropdownSearch {
    position: relative; /* Đặt dropdownSearch làm điểm đề xuất cho việc định vị tương đối */
    height: 450px;
    .dropdown-contentSearch {
        position: absolute; /* Đặt dropdown-contentSearch làm điểm đề xuất cho việc định vị tuyệt đối */
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        z-index: 999;
        max-height: 100%; /* Giới hạn chiều cao của dropdown để nếu nội dung quá dài sẽ có thanh cuộn */

        .formdataSearch {
            display: block;
            .dropdown-titleSearch {
                text-align: center;

                .searchTitle {
                    font-size: 18px;
                    color: #333;
                }
            }

            .searchInput {
                height: 42px;
                padding: 0 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                transition: border-color 0.3s ease;

                &:focus {
                    outline: none;
                    border-color: #ec7263;
                }
            }

            #searchBtn {
                width: 40px;
                height: 42px;
                margin-left: -40px; /* Đẩy button ra bên phải của input */
                background-color: transparent;
                border: none;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }
        }
        .searchresultmodal {
            position: relative; /* Đặt vị trí tương đối cho phần kết quả tìm kiếm */
            background-color: transparent;

            .searchresultcontent {
                .searchTitle {
                    font-size: 18px;
                    color: #333;
                }

                .searchResults {
                    list-style: none;
                    padding: 0;
                    max-height: 200px; /* Giới hạn chiều cao của kết quả tìm kiếm */
                    width: 100%;
                    height: 100%;
                    li {
                        margin-bottom: 5px;
                        font-size: 16px;
                        color: #666;
                    }
                }
            }
        }
    }
}
