.main {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .userInformation {
            display: flex;
        }

        .table-wrapper {
            width: 80%;
            .fl-table {
                .thead {
                    display: flex;
                    justify-content: space-around;
                    padding: 10px;
                    background-color: #f0f0f0;
                    font-weight: bold;
                }
                .body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .tbody {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        padding: 10px;
                        border-bottom: 1px solid #ddd;
                    }
                    .addBtn {
                        width: 20%;
                        height: 50px;
                        background-color: cadetblue;
                        button {
                            width: 100%;
                            height: 100%;
                            border: none;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
